---
// 博客文章详情页
import MainLayout from '@/layouts/MainLayout.astro';
import { getAllPosts, getPostBySlug } from '@/services/BlogService';
import { render } from 'astro:content';
import { UI_TEXT, DATE_FORMAT, URLS } from '@/consts';

export async function getStaticPaths() {
  const allPosts = await getAllPosts();
  return allPosts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { slug } = Astro.params;

if (!slug) {
  return Astro.redirect('/404');
}

const post = await getPostBySlug(slug);

if (!post) {
  return Astro.redirect('/404');
}

const { Content } = await render(post);

const formattedDate: string = post.data.created
  ? post.data.created.toLocaleDateString(DATE_FORMAT.locale, DATE_FORMAT.options as Intl.DateTimeFormatOptions)
  : UI_TEXT.unknownDate;
---

<MainLayout title={post.data.title || UI_TEXT.untitledPost}>
  <article>
    <h1 class="font-bold text-2xl mb-4">{post.data.title}</h1>
    <div class="post-meta text-gray-500 mb-8">
      {formattedDate && <div class="mb-1">{UI_TEXT.publishDate}: {formattedDate}</div>}
      {post.data.category && (
        <div class="mb-1">
          {UI_TEXT.category}:
          <a href={`${URLS.categories}/${post.data.category}/`} class="category-link text-gray-500 hover:underline ml-1">
            {post.data.category}
          </a>
        </div>
      )}
      {post.data.tags && post.data.tags.length > 0 && (
        <div class="mb-1">
          {UI_TEXT.tag}:
          {post.data.tags.map((tag: string) => (
            <a href={`${URLS.tags}/${tag}/`} class="tag-link text-gray-500 hover:underline ml-1">
              {tag}
            </a>
          )).reduce((prev: any, curr: any) => <>{prev}, {curr}</>)}
        </div>
      )}
    </div>
    <div class="prose prose-lg dark:prose-invert max-w-4xl mx-auto mb-4 text-justify">
      <Content />
    </div>
  </article>
</MainLayout>
