---
// 博客文章详情页
import MainLayout from '@/layouts/MainLayout.astro';
import { getCollection, render } from 'astro:content';
import { slugify } from '@/utils/stringUtils';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { entry },
    };
  });
}

const { entry } = Astro.props;
const { Content } = await render(entry);

const formattedDate: string = entry.data.createDate
  ? entry.data.createDate.toLocaleDateString('zh-CN', {
      year: 'numeric',
      month: 'long',
      day: 'numeric',
    })
  : '未知日期';
---

<MainLayout title={entry.data.title || '无标题文章'}>
  <article>
    <h1 class="font-bold text-2xl mb-4">{entry.data.title}</h1>
    <div class="post-meta text-gray-500 mb-8">
      {formattedDate && <div class="mb-1">发布日期: {formattedDate}</div>}
      {entry.data.categories && entry.data.categories.length > 0 && (
        <div class="mb-1">
          分类:
          {entry.data.categories.map((category) => (
            <a href={`/categories/${encodeURIComponent(category)}/`} class="category-link text-gray-500 hover:underline ml-1">
              {category}
            </a>
          )).reduce((prev, curr) => <>{prev}, {curr}</>)}
        </div>
      )}
      {entry.data.tags && entry.data.tags.length > 0 && (
        <div class="mb-1">
          标签:
          {entry.data.tags.map((tag) => (
            <a href={`/tags/${slugify(tag)}/`} class="tag-link text-gray-500 hover:underline ml-1">
              {tag}
            </a>
          )).reduce((prev, curr) => <>{prev}, {curr}</>)}
        </div>
      )}
    </div>
    <div class="prose dark:prose-invert max-w-none mb-4">
      <Content />
    </div>
  </article>
</MainLayout>
