---
// 博客文章卡片组件，展示标题、摘要、分类等
import { slugify } from '../utils/stringUtils';
import { getSiteLink } from '../utils/urlUtils';
import type { BlogPost } from '../services/BlogService'; // 从 BlogService 导入更新后的 BlogPost 类型

interface Props {
  post: BlogPost;
}

const { post } = Astro.props;
---

<article class="article-card">
  <a href={getSiteLink(`posts/${post.slug}/`)}>
    <h2>{post.data.title}</h2>
  </a>
  <div>{/* 作者和日期等信息 */}</div>
  {post.data.category && (
    <a 
      href={getSiteLink(`categories/${slugify(post.data.category)}/`)}
      class=""
    >
      {post.data.category}
    </a>
  )}
  {post.excerptHtml && (
    <div class="prose dark:prose-invert max-w-none" set:html={post.excerptHtml} />
  )}
  <a href={getSiteLink(`posts/${post.slug}/`)}>{/* 阅读更多 */}</a>
</article>
