---
import { getAllCategories } from '@/services/BlogService';
import type { BlogCategory } from '@/services/BlogService';
import { UI_TEXT, URLS } from '@/consts';

const categories = await getAllCategories();
---

<div>
  <h2 class="text-xl font-bold mb-4">{UI_TEXT.categoriesTitle}</h2>
  <ul>
    {categories.map((category: BlogCategory) => (
      <li class="mb-2">
        <a 
          href={`${URLS.categories}/${category.slug}/`}
          class="text-gray-600 hover:underline"
        >
          {category.name} ({category.count})
        </a>
      </li>
    ))}
  </ul>
  {categories.length === 0 && (
    <p class="text-gray-600">{UI_TEXT.noCategories}</p>
  )}
</div>
