---
import { getAllTags } from '@/services/BlogService';
import type { BlogTag } from '@/services/BlogService';
import { UI_TEXT, URLS } from '@/consts';

const tags = await getAllTags();
---

<div>
  <h2 class="text-xl font-bold mb-4">{UI_TEXT.tagsTitle}</h2>
  <ul>
    {tags.map((tag: BlogTag) => (
      <li class="mb-2">
        <a 
          href={`${URLS.tags}/${tag.slug}/`}
          class="text-gray-600 hover:underline"
        >
          {tag.name} ({tag.count})
        </a>
      </li>
    ))}
  </ul>
  {tags.length === 0 && (
    <p class="text-gray-600">{UI_TEXT.noTags}</p>
  )}
</div>
